<form action="#" th:action="@{/users}" th:object="${userRequest}" method="post">

    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <input type="submit" value="Add User">
</form>