<div>
    <h2>Users</h2>
    <p th:text="${errorMessage}">1</p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/users/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/delete/users/{id}(id=${user.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/signup">Add a new user</a></p>
</div>